body {
  font-family: "Poppins", sans-serif !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-weight: normal !important;
  letter-spacing: -0.2px !important;
}
a {
  text-decoration: none;
  color: black;
}
.header {
  display: flex;
  padding: 17px 15px 17px;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgb(182 182 182 / 18%);
  .header__nav-left {
    display: flex;
    align-items: center;
    .logo {
      img {
        height: 48px;
        margin-top: 8px;
      }
    }
    .nav__menu {
      display: flex;
      .nav__menu-ul {
        .nav__menu-li {
          display: inline-block;
          margin-left: 24px;
        }
        .nav__menu-dropdown {
          position: absolute;
          // top: 72px;
          // left: 191px;
          z-index: 2000;
          box-shadow: 0px 4px 10px rgb(182 182 182 / 40%);
          border-radius: 10px;
          display: none;
          background-color: #ffffff;
          .lv1 {
            padding: 6px 16px;
          }
        }
        .nav__menu-dropdown .lv1:hover {
          background-color: #ccc;
        }
        .nav__menu-li:hover .nav__menu-dropdown {
          display: block;
        }
      }
    }
  }
  .header__nav-right {
    display: flex;
    align-items: center;
    .nav__right-notification {
      font-size: 22px;
    }
    .nav__right-control {
      display: flex;
      .nav__right-login {
        padding: 0px 15px 0px 15px;
        border-right: 1px solid #ccc;
      }
      .nav__right-register {
        padding: 0px 15px 0px 15px;
      }
    }
    .nav__right-post {
      padding: 13px 15px;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
  }
}
.contenct__banner {
  margin-top: 50px;
  // display: flex;
  // justify-content: center;
  left: calc(50% - 504.5px);
  position: relative;
  .contenct__banner-search {
    .contenct__banner-tabs {
      display: flex;
      .banner__tabs-box {
        padding: 6px 32px;
        margin-right: 8px;
      }
      .banner__tabs-box:hover {
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
      .active {
        color: #fff;
        background: rgba(0, 0, 0, 0.6);
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
      }
    }
  }
  .contenct__search-box {
    position: absolute;
    width: 913px;
    top: 32px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 0px 5px 5px 5px;
    .contenct__search-input {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      border-radius: 8px;
      .contenct__search-select {
        display: flex;
        align-items: center;
        width: 172px;
        height: 48px;
        border-right: 1px solid #f2f2f2;
        i {
          margin: 0px 10px;
        }
        .contenct__search-custom {
          position: relative;
        }
      }

      .contenct__keword-input {
        input {
          position: relative;
          left: -152px;
          font-size: 14px;
          line-height: 20px;
          font-weight: normal !important;
          width: 100%;
          padding: 14px 128px 14px 12px;
          border: 0;
          border-radius: 8px;
        }
        input:focus-visible {
          outline-offset: 0 !important;
          outline: 0;
        }
      }
      .contenct__search-btn {
        position: relative;
        top: 8px;
        margin-right: 10px;
        height: 32px;
        background: #e03c31;
        border: solid 1px #e03c31;
        font-size: 14px;
        line-height: 20px;
        font-weight: normal !important;
        letter-spacing: -0.2px;
        padding: 5px 11px;
        border-radius: 4px;
        a {
          color: #fff !important;
          i {
            margin-right: 10px;
          }
        }
      }
      .contenct__dropdown {
        position: absolute;
        top: 75px;
        left: 15px;
        z-index: 2000;
        box-shadow: 0px 4px 10px rgb(182 182 182 / 40%);
        background-color: #ffffff;
        border-radius: 10px;
        .contenct__dropdown-ul {
          display: none;
          max-height: 308px;
          .contenct__dropdown-li {
            padding: 6px 16px;
            span {
              padding-left: 10px;
            }
            input {
              float: right;
              margin-left: 20px;
            }
            ul {
              li {
                
                padding-top: 10px;
                padding-left: 28px;
              }
            }
          }
        }
        
      }
    }
  }
}

.contenct__search-select:hover .contenct__dropdown-ul {
  display: table-cell !important;
}